.carousel {
  display: flex;
  cursor: grab;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel:active {
  cursor: grabbing;
}

.tag {
  flex: none;
  margin: 5px;
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 10px;
  user-select: none;
}